
.introdisplay{
  width: 100%;
  height:700px;
  background: url('../assets/laptop.jpg');
   background-size: 100% 100%;
   background-repeat: no-repeat;
   border: 2px solid black;

}
.intro{
  width: 100%;
  height: 700px;
  /* background-color: #c4c3c6; */
    background-image: linear-gradient(to bottom, #8a8388, #b2b1b4);
    background-image: linear-gradient(to right, #b2b1b4, #8a8388);
    border: 2px solid black;
    border-left: none;
}
.nameintro{
  text-align: center;
  margin-top:80px;
  font-size:60px;
}
.lastname{
  color: orange;
}
.linebg{
  background: #c0c0c0;
  height: 4px;
  /* background-image: linear-gradient(to bottom, #c0c0c0, #c0c0d0); */

}
.degintro{
  text-align: center;
  margin-top:40px;
  font-size:80px;
  color: dodgerblue;
}
.skillset{
  background-color: #c0c0c0;
  width: 60%;
  /* margin-left: 16px auto; */
}
.sk {
  padding: 8px;
  margin: 2px;
  border-radius: 25%;
  border: 4px solid transparent;

  /* background-color: black; */

}
.sk > h4 {
  text-align: center;
  font-size: 30px;
  margin: 12px 8px;
}
