*{
	margin:0;
	padding:0;
	font-family: Arial
}
div.topdiv{
	position:relative;
	height:auto;
}
#navb1{
	display:none;
}

div.nav{
	margin:0;
}
ul.menu{
	
	margin:0;
	padding:0;
	text-decoration:none;
	overflow:hidden;
	background-color:#000000;
	list-style-type:none;
	
}
ul li{
	float:left;
}
ul li a{
	padding:14px 16px;
	text-align:center;
	display:block;
	text-decoration:none;
	color:grey;
}
ul.menu li a:link{
	background-color:black;
	color:white;
}
ul.menu li a:active{
	background-color:blue;
}

ul.menu li a:hover{
	background-color:black;
	color:violet;
}
div.home{
	
	margin:0;
	width:100%;
	height:700px;
	background-color:#282923;		
}
div p.home	{
	margin-top:0px;
	font-size:30px;
	color: white;
}
div.skill{
	
	margin:0px;
overflow:hidden;
	height:700px;
	background-color:#282923;
	padding:2%;
	}
div.about{
	
overflow:hidden;
	width:auto;
	height:700px;
padding: 70px 10% 0 10%;
	background-color:#282923;
}
div.contact{
	border:1px solid black;
	overflow:hidden;
	width:100%;
	height:100px;
	background-color:#282923;
}
a{
	text-decoration:none;
}
div.img1{
	float:left;
	margin-left:50px;
	width:150px;
}
div.comment{
	width:90px;
	margin-left:15px;
	padding:0px;
	text-align:center;
	color:#c70039;
	height:50px;
}
div.content1{

	background-color:black;
	width:1000px;
	height:auto;
	color:white;
	font-family:Times New Roman;

}

div.img1 img{
	padding:5px;

	overflow:hidden;
	width:100%;
	height:auto;
}
div.img1 img:hover{
	border:2px solid #282923;
}
div.s2{

	margin-top:0px;
	overflow:hidden;
background-color:#282923;

}

div.s2 p{
	margin-top:25px;
	font-size:18px;
}
div.about{
	margin-top:5px;
	height:700px;
}
div.about ul{
	list-style-type:none;
}
div.about ul li{
	margin-left:0px;
	line-height: 25px;
	float:none;
	color:white;
	font-size: 25px;
}
div ul.links{
	margin-left:25px;
	list-style-type:none;	
	overflow:hidden;
}
img.linkimg{
	margin-left:25px;
	width:50px;
	height:50px;
}

div ul.links li{
	margin-left:105px;
	
}
footer p{
	color:white;
	background-color:black;
	text-align:center;
}
div.c1{
	margin-left:50px;
	position:absolute;
	bottom:100px;
	clear: both;
	padding:0;	
}
div.day
{
	height:1000px;
	border:0px solid black;
	position:relative;
	overflow:hidden;
}
ul.links li a img:hover{
border:1px solid black;
}

