body{
  background-color: #343a40;
}
.introdisplay{
  width: 100%;
  height:700px;
  background: url('../assets/laptop.jpg');
   background-size: 100% 100%;
   background-repeat: no-repeat;
   border: 2px solid black;

}
.intro{
  width: 100%;
  height: 700px;
  /* background-color: #c4c3c6; */
    background-image: linear-gradient(to bottom, #8a8388, #b2b1b4);
    background-image: linear-gradient(to right, #b2b1b4, #8a8388);
    border: 2px solid black;
    border-left: none;
}
.nameintro{
  text-align: center;
  margin-top:80px;
  font-size:60px;
}
.lastname{
  color: orange;
}
.linebg{
  background: #c0c0c0;
  height: 4px;
  /* background-image: linear-gradient(to bottom, #c0c0c0, #c0c0d0); */

}
#about{
  width: 90%;
  margin: 24px auto;
}
.degintro{
  text-align: center;
  margin-top:40px;
  font-size:80px;
  color: dodgerblue;
}

.mylist--item{
  border-left:16px solid transparent;
  border-right:16px solid transparent;

  font-size: 24px;
  /* padding: ; */
  /* margin: 24px; */
  padding: 24px;
}
.mylist--item:hover{
  background-color: #007bff;
  color: #ffc107;
  z-index:1;
  box-shadow: 4px 6px 4px #808080;
}
.spacing{
  width: 100%;
  height: 40px;
}

.Skill-Container{
  width: 80%;
  margin: 16px auto;
}
