
.navbar{
padding:0px !important;
}
.navcolor{
background-color:#323232;

}
a.nav-link{
color:white !important;
}
.navelem li:hover{
background-color:#000000;
color:white;

/*font-weight:bolder;*/
position: relative;
/* animation-name: navanim; */
/* animation-duration: 1s; */
}
@keyframes navanim{
    from {
        bottom:8px;
    }
    to{
        top:8px;
    }
}
.nav-link{
color:black !important;
}



.auth-img{

border:2px solid black;

}
.auth-img:hover{
box-shadow:4px 6px 8px #808080;
position:relative;
animation-name: navanim;
animation-duration: 2s;
}

.fab,.fas{
padding:4px 8px;
}

.contact-logo{

font-size:72px;
}
.fontsizing{
    font-size: 24px !important;
    color:white;
    font-weight: 900;
}
.newl1{
    display:none
}


@media only screen and (max-width: 600px) {
 .contact-logo{

font-size:32px;
}
.navelem li:hover{
    background-color:black;
    font-weight:bolder;
    position: relative;
    animation-name: navanim;
    animation-duration: 0s;
    }
    .aboutpagepic{
        height:100px;
        width: 100px;
    }
    .newl1{
        display: block;
    }
    .newl{
        display: none;
    }
}

