
.navbar{
padding:0px !important;
}
.navcolor{
background-color:#6759B4;
}

.navelem li:hover{
background-color:black;
font-weight:bolder;
position: relative;
animation-name: navanim;
animation-duration: 1s;
}
@keyframes navanim{
    from {
        left:8px;
    }
    to{
        right:8px;;
    }
}
.nav-link{
color:white !important;
}



.auth-img{

border:2px solid black;

}
.auth-img:hover{
box-shadow:4px 6px 8px #808080;
position:relative;
animation-name: navanim;
animation-duration: 2s;
}

.fab,.fas{
padding:4px 8px;
}

.contact-logo{

font-size:72px;
}



@media only screen and (max-width: 600px) {
 .contact-logo{

font-size:32px;
}
.navelem li:hover{
    background-color:black;
    font-weight:bolder;
    position: relative;
    animation-name: navanim;
    animation-duration: 0s;
    }
}

