<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" routerLink="/">Raaz9711</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="home">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="blog">Blog</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="about">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="contact">Contacts</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="projects">Projects</a>
  </li>

</ul>